@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hbephg');
  src:  url('fonts/icomoon.eot?hbephg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hbephg') format('truetype'),
    url('fonts/icomoon.woff?hbephg') format('woff'),
    url('fonts/icomoon.svg?hbephg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-brands:before {
  content: "\e900";
}
.icon-facebook-circle-brands:before {
  content: "\e901";
}
.icon-facebook-square-brands:before {
  content: "\e902";
}
.icon-instagram-brands:before {
  content: "\e904";
}
.icon-youtube-brands:before {
  content: "\e905";
}
.icon-linkedin-in-brands:before {
  content: "\e906";
}
.icon-linkedin-square-brands:before {
  content: "\e907";
}
.icon-pinterest-brands:before {
  content: "\e908";
}
.icon-pinterest-circle-brands:before {
  content: "\e909";
}
.icon-pinterest-square-brands:before {
  content: "\e90a";
}
.icon-twitter-brands:before {
  content: "\e90b";
}
.icon-twitter-circle-brands:before {
  content: "\e90c";
}
.icon-twitter-square-brands:before {
  content: "\e90d";
}
.icon-vimeo:before {
  content: "\e950";
}
.icon-marker:before {
  content: "\e90e";
}
.icon-marker-filled:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e910";
}
.icon-heart-filled:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-user-filled:before {
  content: "\e913";
}
.icon-email:before {
  content: "\e914";
}
.icon-email-filled:before {
  content: "\e915";
}
.icon-printer:before {
  content: "\e916";
}
.icon-phone:before {
  content: "\e917";
}
.icon-phone-filled:before {
  content: "\e918";
}
.icon-phone-ring:before {
  content: "\e919";
}
.icon-phone-ring-filled:before {
  content: "\e91a";
}
.icon-fax-machine:before {
  content: "\e91b";
}
.icon-home:before {
  content: "\e91c";
}
.icon-store:before {
  content: "\e949";
}
.icon-gift:before {
  content: "\e91d";
}
.icon-eye:before {
  content: "\e91e";
}
.icon-clock:before {
  content: "\e91f";
}
.icon-search:before {
  content: "\e920";
}
.icon-shopping-bag:before {
  content: "\e921";
}
.icon-cart:before {
  content: "\e922";
}
.icon-box:before {
  content: "\e94a";
}
.icon-tags:before {
  content: "\e923";
}
.icon-sale:before {
  content: "\e94b";
}
.icon-discount:before {
  content: "\e94c";
}
.icon-tachometer:before {
  content: "\e924";
}
.icon-shipping:before {
  content: "\e94d";
}
.icon-shipping-filled:before {
  content: "\e925";
}
.icon-arrow-left:before {
  content: "\e926";
}
.icon-arrow-right:before {
  content: "\e927";
}
.icon-arrow-up:before {
  content: "\e928";
}
.icon-arrow-down:before {
  content: "\e929";
}
.icon-caret-left:before {
  content: "\e92a";
}
.icon-caret-right:before {
  content: "\e92b";
}
.icon-caret-up:before {
  content: "\e92c";
}
.icon-caret-down:before {
  content: "\e92d";
}
.icon-chevron-left:before {
  content: "\e92e";
}
.icon-chevron-right:before {
  content: "\e92f";
}
.icon-chevron-up:before {
  content: "\e930";
}
.icon-chevron-down:before {
  content: "\e931";
}
.icon-checked:before {
  content: "\e932";
}
.icon-calendar:before {
  content: "\e933";
}
.icon-archive:before {
  content: "\e903";
}
.icon-filter:before {
  content: "\e94f";
}
.icon-sort:before {
  content: "\e947";
}
.icon-grid:before {
  content: "\e948";
}
.icon-list:before {
  content: "\e94e";
}
.icon-cubes:before {
  content: "\e934";
}
.icon-info:before {
  content: "\e935";
}
.icon-alert:before {
  content: "\e942";
}
.icon-stop-hand:before {
  content: "\e943";
}
.icon-refresh:before {
  content: "\e944";
}
.icon-edit:before {
  content: "\e945";
}
.icon-delete:before {
  content: "\e946";
}
.icon-expand:before {
  content: "\e936";
}
.icon-play-solid:before {
  content: "\e937";
}
.icon-pause:before {
  content: "\e938";
}
.icon-circle:before {
  content: "\e939";
}
.icon-close:before {
  content: "\e93a";
}
.icon-plus:before {
  content: "\e93b";
}
.icon-minus:before {
  content: "\e93c";
}
.icon-send:before {
  content: "\e93d";
}
.icon-sign-in:before {
  content: "\e93e";
}
.icon-sign-out:before {
  content: "\e93f";
}
.icon-download:before {
  content: "\e940";
}
.icon-upload:before {
  content: "\e941";
}
